# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary / backup files
# =========================
*~
*.tmp
*.log
*.bak
*.swp
*~

# =========================
# Python (future-proof)
# =========================
__pycache__/
*.pyc

# =========================
# Jupyter (if used later)
# =========================
.ipynb_checkpoints/

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/

# =========================
# System-specific
# =========================
*.desktop